/* Make the h1 elements within the website red and 60px font */
h1 {
    color: red;
}

li {
    color: blue;
}

/* Make the table to have a border of 1px that is solid */
table { 
    border: 1px solid;
}